language: android
android:
  components:
    - tools
    - tools
    - platform-tools
    - build-tools-26.0.1
    - android-26
    - extra-android-m2repository
    - oraclejdk8

script:
   - ./gradlew build connectedCheck